language: node_js
node_js:
- '12'
addons:
  ssh_known_hosts: 150.158.87.3
before_install:
- openssl aes-256-cbc -K $encrypted_b4fa19891c6b_key -iv $encrypted_b4fa19891c6b_iv
  -in id_rsa_blog.enc -out ~/.ssh/id_rsa_blog -d
- chmod 600 ~/.ssh/id_rsa_blog
- echo -e "Host 150.158.87.3\n\tHostName 150.158.87.3\n\tStrictHostKeyChecking no\n\tIdentityFile ~/.ssh/id_rsa_blog" >> ~/.ssh/config
- yarn global add vuepress
install:
- yarn install
script:
- yarn docs:build
- travis_wait 30 sleep 1800 &
after_success:
- cd docs/.vuepress
- scp -o stricthostkeychecking=no -r ./dist root@150.158.87.3:/home/document/docker/blog-server
- ssh root@150.158.87.3 -o stricthostkeychecking=no 'cd /home/document/docker && docker-compose up -d --build'
